---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)



@import
  {% if site.bootwatch %}
    "bootswatch/{{site.bootwatch | downcase}}/variables",
  {% endif %}

  "bootstrap",

  {% if site.bootwatch %}
    "bootswatch/{{site.bootwatch | downcase}}/bootswatch",
  {% endif %}

  "syntax-highlighting",
  "typeahead"
;

html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: $navbar-height + $navbar-margin-bottom;
  margin-bottom: 46px;
}

.navbar-brand{
  img{
    margin: -$navbar-padding-vertical 0;
    height: $navbar-height;
    padding: 10px 0;
  }
}


.header-container {
  // background-color: black;
  //background-color: rgba(0, 0, 0, 0.5);
  background: url('../img/ga-tech-klaus.png') no-repeat 50% 0;
  //font-weight: 500;
  //color: #fff;
  opacity: 0.3;

  // background-attachment: fixed;
  // background-size: cover;
  // background-position: center 36%;
  height: 800px;
  width: 100%;
  float: left;
  margin-top: -30px;
  // margin-top: -37px;
  // padding-top: 112px;
  // padding-bottom: 112px;
}


.jumbotron .header-img {
    margin-bottom: 0px;
    opacity: 0.2;
    color: #fff;
    background: #000 url('../img/ga-tech-klaus.png') top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}

.jumbotron .container {
  position:relative;
  z-index:2;
}

.jumbotron {
  position:relative;
  padding-top:50px;
  padding-bottom:50px;
  margin-top: -30px;
}

.jumbotron h1 {margin-top:0;}

.header-text {

  font-weight: 500;
  height: 800px;
  width: 100%;
  float: left;
  margin-top: -30px;
  h1 {
    color: #fff;
  }

}




.navbar-container {
  font-size: 16px;
}
.page-content {
  padding-bottom: 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 46px;
  padding-top: 10px;
  background-color: $gray-lighter;
  color: $gray-dark;
}

.post-list-container {
  li a.active {
    font-weight: bold;
  }
}
*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}
.navbar-form .has-feedback .form-control-feedback{
  top:10px
}
